body {
	background-color: #000000;
	margin-left: 50%;
}


.mummo {
	border-color: #fff;
	border-style: dotted;
	border-width: 2px;
	width: 100px;
	height: 115px;
	
}


h1 {font-size: 20px;
	border-style: solid;
}


p {font-size: 12px;
   background-color: red;
   border-style: solid;
   border-radius: 20px;
}


ol {font-size: 10px;

}


ul {font-size: 10px;
}


.kettu {color: #fff;}


#lili {color: #3dfc05;}

#Smocks {position: absolute;
	     top: 260px;
